* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100vh;
	width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
span,
::placeholder {
	font-family: 'Caveat', cursive;
}

p {
	font-family: 'Work Sans', sans-serif;
}

input:focus,
textarea:focus,
select:focus {
	outline: none !important;
}

ul {
	list-style: none;
}

.selector-for-some-widget {
	box-sizing: content-box;
}

#home h1,
#todo h1 {
	color: #e76f51 !important;
	font-size: 4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#home h1,
	#todo h1 {
		font-size: 3rem;
	}
}

footer {
	padding-top: 20px;
	color: #ffffff;
}

.bg-teal {
	background: teal;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
		0 1px 5px 0 rgb(0 0 0 / 20%);
}

.completed {
	text-decoration: line-through;
	color: gray;
}

/* Home Page */
main {
	height: 83%;
	width: 100%;
	/* Pattern */
	background: radial-gradient(black 3px, transparent 4px),
		radial-gradient(black 3px, transparent 4px),
		linear-gradient(#fff 4px, transparent 0),
		linear-gradient(
			45deg,
			transparent 74px,
			transparent 75px,
			#a4a4a4 75px,
			#a4a4a4 76px,
			transparent 77px,
			transparent 109px
		),
		linear-gradient(
			-45deg,
			transparent 75px,
			transparent 76px,
			#a4a4a4 76px,
			#a4a4a4 77px,
			transparent 78px,
			transparent 109px
		),
		#fff;
	background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
	background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	/* Aligning Items in a Flex Container */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	main {
		height: 100%;
	}
}

/* Todo Page */
#todo-contrainer {
	background: #ffffff;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
		0 1px 5px 0 rgb(0 0 0 / 20%);
}

#todo-left {
	font-family: 'Work Sans', sans-serif;
	margin: 2rem 6rem;
}

#todo-input {
	background: #eeeeee;
	border: 1px solid #eeeeee;
	padding: 0.5rem;
}

.todo-list-item,
::placeholder {
	font-size: 2rem;
}

.todoItem {
	height: 3rem;
	margin-bottom: 1rem;
}

/* Override Bootstrap */
div#navbarNav {
	flex-grow: 0;
}

.navbar-light a.navbar-brand,
.navbar-light .navbar-nav a.nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
	color: #ffffff;
}

/* Navigation */
.nav-link.name {
	color: #e76f51 !important;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.nav-item.name:hover {
	background: transparent;
}

a.navbar-brand {
	font-size: 2rem;
}

li.nav-item.active-button {
	background: #25616175;
	border-radius: 5px;
	padding: 0 1rem;
}

li.nav-item.active-button:hover {
	background: #3fa2a275;
}

/* Footer */
footer a {
	color: #e76f51 !important;
	text-decoration: none;
}

/* Botton */
button.btn.btn-outline-secondary {
	background: #e76f51;
	border-color: transparent;
}

button.btn.btn-outline-secondary:hover {
	background: #dc9e8f;
}

i {
	color: #ffffff;
}
